/* /////////////////////////// */
/* Table of contents */
/* 11: Generic styles */
/* 75: Logged out styles */
/* 77: index.html */
/* 385: signup.html */
/* 395: failedlogin.html */
/* 509: validation */
/* /////////////////////////// */

/* Generic styles */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, button {
  font-family: Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Logged out styles */

/* index.html */

.header {
  background: linear-gradient(to bottom, #4e69a2, #3b5998 50%, #3b5998);
  height: 83px;
  border-bottom: 1px solid black;
}

.header__inner {
  width: 980px;
  margin: 0 auto;
  height: 100%;
}

.text-logo {
  float: left;
  font-size: 2.6em;
  letter-spacing: -1px;
  margin-top: 28px;
  font-weight: bold;
}

.text-logo__link {
  text-decoration: none;
  color: white;
  height: 15px;
}

.signin {
  float: right;
  width: 390px;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-column-gap: 13px;
  padding-top: 16px;
  padding-left: 14px;
}

.signin__label {
  color: white;
  display: block;
  font-size: .75em;
  padding-left: 1px;
  padding-bottom: 6px;
}

.signin__input {
  width: 150px;
  height: 24px;
  border-radius: 0;
  border: 1px solid #1d2a5b;
}

.signin__link {
  color: #9cb4d8;
  text-decoration: none;
  font-size: 0.75em;
  grid-column: 2;
  padding-top: 6px;
}

.signin__link:hover {
  text-decoration: underline;
}

.login-button {
  color: white;
  border: 0;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  white-space: nowrap;
  width: 302px;
  height: 45px;
  font-size: .875rem;
  background-color: #4267b2;
}

.login-button:hover {
  background-color: #365899;
}

.login-button:active {
  background-color: #2a487d;
}

.login-button:focus {
  padding: 0 8px;
  box-shadow: 0 0 1px 2px #85aeff;
}

.login-button::-moz-focus-inner {
  border: 0;
}

.login-button--small {
  width: auto;
  height: 24px;
  border: 1px solid #29487d;
  font-size: .688rem;
}

.login-button--small:focus {
  border: 1px solid rgba(0,0,0,0);
}

.login-button--float {
  float: right;
  margin: 31px 4px 4px 4px;
}

.login-button--grid-end {
  align-self: end;
}

.main {
  background-image: linear-gradient(#ffffff,
  #d3d8e8);
}

.main-inner {
  width: 980px;
  margin: 0 auto;
}

.main-inner--index {
  display: flex;
  justify-content: space-between;
}

.particlesImg {
  margin-top: 25px;
  max-width: 500px;
}

.particlesImg__text {
  padding: 15px 0;
  font-size: 1.3em;
  line-height: 1.4em;
}

#particles-js {
  width: 500px;
  height: 231px;
  background-image: url("img/map.png");
  background-repeat: no-repeat;
}

.signup {
  width: 400px;
}

.signup__heading {
  padding-top: 26px;
  font-size: 2.5em;
  font-weight: bold;
  white-space: nowrap;
}

.signup__message {
  margin-top: 16px;
  font-size: 1.4em;
}

.signup__form {
  margin-top: 23px;
}

.signup__input {
  border: 0;
  border-radius: 5px;
  height: 39px;
  margin: 0;
  padding-left: 5px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  border: 1px solid #bdc7d8;
  font-size: 1.1em;
}

.signup__input--float {
  float: left;
  margin-right: 10px;
}

.signup__input--narrow {
  width: calc(50% - 5px);
}

.birthdate {
  margin-top: 23px;
}

.birthdate__legend {
  font-size: 18px;
  margin-bottom: 8px;
  color: grey;
}

.birthdate__select {
  height: 30px;
  width: 70px;
  border: 1px solid #bdc7d8;
}

.birthdate__select--narrow {
  width: 60px;
}

.birthdate__link {
  display: inline-block;
  font-size: 11px;
  width: 150px;
  line-height: 13px;
  vertical-align: bottom;
  color: #365899;
  text-decoration: none;
}

.birthdate__link:hover {
  text-decoration: underline;
}

.signup__link {
  text-decoration: none;
}

.signup__link:hover {
  text-decoration: underline;
}

.signup__gender {
  margin-top: 13px;
  margin-bottom: 10px;
}

.signup__gender-legend {
  font-size: 18px;
  margin-bottom: 10px;
  color: grey;
}

.signup__gender-span {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.05em;
  height: 30px;
  padding-top: 4px;
}

.signup__gender-span--margin {
  margin-left: 22px;
}

.signup__gender-label {
  vertical-align: sub;
}

.signup__gender-input {
  margin: 0;
}

.signup__terms {
  font-size: 0.7em;
  color: #777;
  width: 320px;
  line-height: 15px;
  margin-bottom: 21px;
}

.signup__btn {
  position: relative;
  padding: 6px 15px 8px 15px;
  width: 200px;
  height: 40px;
  background: linear-gradient(#67ae55, #578843);
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.15em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 1px #a3e287;
  cursor: pointer;
  border: 1px solid #3b6e22;
  margin-bottom: 40px;
}

.signup__btn:active {
  top: 1px;
}

.signup__btn:hover, .signup__btn:focus  {
  background: linear-gradient(#79bb63, #578843);
}

.footer {
  width: 980px;
  margin: 0 auto;
}

.footer__info {
  margin: 20px 10px;
}

/* signup.html */

.hidden {
  display: none;
}

.main-inner--signup {
  padding: 0 290px;
}

/* failedlogin.html */

.main--failed {
  padding: 82px 0;
}

.btn-link {
  display: inline-block;
  color: white;
  border: 0;
  border-radius: 2px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s ease;
  white-space: nowrap;
  background: #42b72a;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 0 8px;
  outline: 0;
  margin: 12px;
  width: 192px;
  height: 45px;
  line-height: 45px;
  font-size: .875rem;
}

.btn-link:hover {
  background-color: #36a420;
}

.btn-link:active {
  background-color: #2b9217;
}

.btn-link:focus {
  box-shadow: 0 0 1px 2px #85aeff;
}

.btn-link--small {
  width: auto;
  height: 28px;
  line-height: 28px;
  font-size: .75rem;
}

.btn-link--relative {
  position: relative;
  top: 24px;
  left: -1px;
}

.login-menu {
  background: white;
  width: 612px;
  margin: 0 auto;
  border: 1px solid #dddfe2;
  text-align: center;
}

.login-menu__heading {
  font-size: 18px;
  height: 85px;
  line-height: 99px;
}

.login-menu__input {
  display: block;
  margin: 0 auto;
  width: 302px;
  height: 34px;
  padding: 5px 8px;
  border: 1px solid #dddfe2;
  margin-bottom: 12px;
}

.login-menu__or {
  text-align: center;
  position: relative;
  font-size: 13px;
  margin: 17px 0 6px 0;
}

.login-menu__or::before, .login-menu__or::after {
  content: "";
  height: 1px;
  width: 132px;
  background: #ccd0d5;
  position: absolute;
  top: 50%;
}

.login-menu__or::before {
  right: 53%;
}

.login-menu__or::after {
  left: 53%;
}

.login-menu__forgot {
  display: block;
  width: 105px;
  margin: 0 auto 31px auto;
  text-decoration: none;
  font-size: 0.75em;
  color: #365899;
}

.login-forgot:hover {
  text-decoration: underline;
}

/* validation */

.login-menu__input-wrapper {
  position: relative;
}

/* Input warning message */
.login-menu__input:focus ~ .login-menu__msg-toggle {
  display: block;
}

.login-menu__input:valid ~ .login-menu__msg-toggle {
  display: none;
}

.login-menu__msg {
  display: none;
  position: absolute;
  width: max-content;
  left: 475px;
  top: 0px;
  border-radius: 3px;
  box-shadow: 1px 3px 5px rgba(87, 87, 87, .5);
  background-color: #963836;
  color: white;
  padding: 8px;
}

.login-menu__msg:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 6px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 13px solid #963836;
  border-bottom: 10px solid transparent;
}

/* Input exclamation marks */
.login-menu__input:valid ~ .exclamation,
.login-menu__input:focus ~ .exclamation {
  display: none;
}

.exclamation {
  background-image: url("img/my_warning.png");
  height: 23px;
  width: 24px;
  pointer-events: none;
}

.exclamation__login-menu {
  position: absolute;
  top: 5px;
  right: 160px;
}

/* input border */
.login-menu__input--border:invalid {
  border: 1px solid #963836;
  border-radius: 2px;
  box-shadow: none;
}

.login-menu__input--border:focus {
  border: 1px solid #dddfe2;
  border-radius: 0;
}

/* logged in styles */

/* temp styles */

body {
  overflow: scroll;
}

/* Unmerged styles */

strong {
  font-weight: bold;
}

.user-body {
  background-color: #e9ebee;
}

/* confirm_email.html */

.header-user {
  background-color: #4267b2;
  height: 43px;
  display: flex;
  border-bottom: 1px solid #354a78;
}

.header-use__inner{
  width: 1012px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: darkgreen; */
}

.logo-link {
}

.logo {
  margin: 0 5px;
}

.main-nav {
}

.main-nav__list {
  display: flex;
  margin: 0 5px;
  align-items: center;
}

.main-nav__item {
  /* margin: 0 8px; */
  margin-left: 20px;
}

.main-nav__profile {
  display: flex;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 2px 17px 2px 2px;
  border-radius: 2px;
}

.main-nav__profile:hover {
  background-color: #3b5da0;
}

.main-nav__profile-icon {
  background-image: url("img/user.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 24px;
  width: 24px;
  display: block;
}

.main-nav__profile-name {
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
}

.main-nav__separator {
  width: 1px;
  height: 18px;
  background-color: #354a78;
}

.main-nav__notifications-link {
}

.main-nav__notifications-icon {
  background-image: url("img/notifications.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
}

.main-nav__settings-link {
}

.main-nav__settings-icon {
  display: block;
  border-top: 6px solid black;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

/* confirm_email.html */

.main-user {
  max-width: 1012px;
  margin: 0 auto;
}

.email-code {
  margin: 50px auto 500px auto;
  background-color: white;
  border: 1px solid lightgrey;
  padding: 0 20px;
  /* margin: 0 auto; */
  max-width: 550px;
  font-size: 12px;
}

.email-code__h1 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 25px;
}

.email-code__seperator {
  background-color: lightgrey;
  height: 1px;
  margin: 15px 0;
}

.email-code__info {
  margin: 20px 0;
}

.email-code__initials {
  margin-right: 3px;
}

.email-code__code {
  width: 60px;
}

.email-code__lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.email-code__link {
  text-decoration: none;
  color: #365899;
}

.email-code__link:hover {
  text-decoration: underline;
}

.btn-link--grey {
  background-color: #f5f6f7;
  color: #56566b;
  box-shadow: 0 0 1px 1px lightgrey;
  margin: 0;
}

.btn-link--grey:hover {
  background-color: #e1e2e3;
}

.btn-link--grey:active {
  background-color: #D0D1D2;
}

.btn--disabled {
  width: auto;
  height: 30px;
  font-size: .75rem;
  background-color: #9cb4d8;
  margin-left: 5px;
  padding: 0 10px;
}

.btn--disabled:hover {
  background-color: #9cb4d8;
}

.btn--disabled:active {
  background-color: #9cb4d8;
}

.email-code__btn-wrapper {
  display: flex;
  align-items: center;
}

.horizontal-separator {
  background-color: lightgrey;
  /* width: 850px; */
  height: 1px;
  margin: 0 auto;
}

.footer-user {
  width: 1012px;
  margin: 0 auto;
  padding: 20px 10px;
}

.footer-user__info {
}

