<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Facebook clone</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  {% block head %}{% endblock head %}
</head>

<body>
  <header class="header">
    {% block header %}{% endblock header %}
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <ul class="alert">
    {% for category, message in messages %}
    <li class="alert__{{ category }}">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  {% block content %}{% endblock content %}

  <footer class="footer">
    <p class="footer__info">A facebook clone by ant443</p>
  </footer>
</body>

</html>