{% extends "base.html" %}

{% block header %}
<div class="header__inner header__inner--login">
  <div class="text-logo"><a class="text-logo__link" href="{{ url_for('index') }}">alienbook</a></div>
  <a href="{{ url_for('signup') }}" class="btn-link btn-link--small btn-link--relative">Sign Up</a>
</div>
{% endblock header %}

{% block content %}
<main class="main main--login">
  <div class="login-menu">
    <h1 class="login-menu__heading">Log in to Facebook</h1>
    <form action="{{ url_for('login') }}" method="post" id="main-login" novalidate>
      {{ login_form.hidden_tag() }}
      <div class="validation__wrapper {{'validation__error' if login_form.email.errors }}">
        {{ login_form.email(class_="login-menu__input validation__input", type="email", placeholder="Email address", autofocus="", **{"aria-label": "Email address"}) }}
        {% if login_form.email.errors %}
        <i class="validation__icon validation__icon--login-layout"></i>
        <p class="validation__msg validation__msg--login-layout validation__msg--login">The email address that you've
          entered doesn't match any account. <strong>Sign up for an account.</strong></p>
        {% endif %}
      </div>
      <div
        class="validation__wrapper {{'validation__error' if not login_form.email.errors and login_form.password.errors }}">
        {{ login_form.password(class_="login-menu__input validation__input", placeholder="Password", **{"aria-label": "password"}) }}
        {% if not login_form.email.errors and login_form.password.errors %}
        <i class="validation__icon validation__icon--login-layout"></i>
        <p class="validation__msg validation__msg--login-layout validation__msg--login">The password that you've
          entered is incorrect. <strong>Forgotten password?</strong></p>
        {% endif %}
      </div>
      {{ login_form.submit(class_="btn btn--login")}}
    </form>
    <div class="login-menu__or">or</div>
    <div>
      <a class="btn-link" href="{{ url_for('signup') }}">Create New Account</a>
      <a class="login-menu__forgot" href="#">Forgotten account?</a>
    </div>
</main>
{% endblock content %}