{% macro signin(optional_class, form) %}
<form class="signin {{ optional_class }}" action="{{ url_for('login') }}" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div>
    {{ form.email.label(class_="signin__label optional_class") }}
    {{ form.email(class_="signin__input", type="email") }}
  </div>
  <div>
    {{ form.password.label(class_="signin__label") }}
    {{ form.password(class_="signin__input") }}
  </div>
  {# {{ form.remember_me() }} {{ form.remember_me.label }} #}
  {{ form.submit(class_="login-button login-button--small login-button--grid-end") }}
  <a class="signin__link" href="#">Forgotten account?</a>
</form>
{% endmacro %}

{% macro signup(form) %}
{% if form.errors %}
<span class="server-validation-msg">{{ (form.errors.values()|first)[0] }}</span>
{% endif %}
<span id="ajax-validation-msg"></span>
<form class="signup__form" id="form" action="{{ url_for('signup') }}" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div class="signup__inputs-flex">
    <div class="validation__wrapper signup__narrow-inputs">
      {{ form.firstname(class_="signup__input validation__input", placeholder="First name", required="true", **{"aria-label": "First name"})}}
      <i class="validation__icon--signup-layout"></i>
      <p class="validation__msg validation__msg--firstname-layout">What's your name?</p>
    </div>
    <div class="validation__wrapper signup__narrow-inputs">
      {{ form.surname(class_="signup__input validation__input", placeholder="Surname", required="true", **{"aria-label": "Surname"})}}
      <i class="validation__icon--signup-layout"></i>
      <p class="validation__msg validation__msg--surname-layout">What's your name?</p>
    </div>
  </div>
  <div class="validation__wrapper">
    {{ form.email(class_="signup__input validation__input", placeholder="Email address", required="true", type="email", **{"aria-label": "Email address"})}}
    <i class="validation__icon--signup-layout"></i>
    <p class="validation__msg validation__msg--signup-layout">You'll use this when you log in and if you ever need
      to
      reset your password.</p>
  </div>
  <div class="validation__wrapper">
    {{ form.password(class_="signup__input validation__input", placeholder="New password", required="true", **{"aria-label": "New password"})}}
    <i class="validation__icon--signup-layout"></i>
    <p class="validation__msg validation__msg--signup-layout">Enter a combination of at least six numbers, letters, and
      punctuation marks (such as !
      and &).</p>
  </div>
  <fieldset data-select class="birthdate validation__wrapper">
    <legend class="birthdate__legend">Birthdate</legend>
    {{ form.day(class_="birthdate__select birthdate__select--narrow validation__day", **{"aria-label": "day"})}}
    {{ form.month(class_="birthdate__select validation__month", **{"aria-label": "month"})}}
    {{ form.year(class_="birthdate__select validation__year", **{"aria-label": "year"})}}
    <a class="birthdate__link" href="#">Why do I need to provide my date of birth?</a>
    <i class="validation__icon--signup-layout"></i>
    <p class="validation__msg validation__msg--select-layout">It looks like you've entered the wrong info. Please make
      sure that you use your real date
      of birth.</p>
  </fieldset>
  <fieldset data-radio class="signup__gender validation__wrapper">
    <legend class="signup__gender-legend">Gender</legend>
    {% for subfield in form.gender %}
    <span class="signup__gender-span">
      {{ subfield(class_="signup__gender-input", required="true") }}
      {{ subfield.label(class_="signup__gender-label") }}
    </span>
    {% endfor %}
    <i class="validation__icon--signup-layout"></i>
    <p class="validation__msg validation__msg--radio-layout">Please choose a gender. You can change who can see this
      later.</p>
  </fieldset>
  <p class="signup__terms">By clicking Sign up, you agree to our <a href="#" class="signup__link">Terms</a>.
    Learn
    how we collect, use
    and share your data
    in our <a href="#" class="signup__link">Data Policy</a> and how we use cookies and similar technology in our
    <a href="#" class="signup__link">Cookie Policy</a>. You may receive SMS notifications from us and can opt
    out
    at
    any time.</p>
  <button class="signup__btn">Sign Up</button>
</form>
{% endmacro %}