{% extends "user_base.html" %}

{% block content %}
<h1>{{ user.firstname }}'s profile</h1>
{% for post in posts %}
<div>
  <p>{{ post.author.firstname }} says: <b>{{ post.body }}</b></p>
</div>
{% endfor %}
<a href="{{ url_for('delete_account') }}">delete account?</a>

{% if is_profile_of_user %}
<p>upload profile pic</p>
<form action="{{ url_for('profile', username=current_user.username) }}">
  <input type="file" 
         id="avatar" name="avatar"
         accept="">
</form>

{% endif %}

{% endblock content %}