{% extends "base.html" %}
{% import "forms.html" as forms %}

{% block header %}
<div class="header__inner">
  <div class="text-logo"><a class="text-logo__link" href="{{ url_for('index') }}">alienbook</a></div>
  <button class="btn btn--login-small btn--login-small--float" id="display-login" type="button">Log In
    to Existing
    Account</button>
  {{ forms.signin("hidden", login_form) }}
</div>
{% endblock header %}

{% block content %}
<main class="main">
  <div class="main-inner main-inner--signup">
    <section class="signup">
      <h1 class="signup__heading">Create a new account</h1>
      <p class="signup__message">It's free and always will be.</p>
      {{ forms.signup(signup_form) }}
    </section>
  </div>
</main>

{% endblock content %}