<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Facebook clone</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<body>
  <header class="header">
    <div class="header__inner">
      <h1 class="text-logo"><a class="text-logo__link" href="{{ url_for('index') }}">facebook clone</a></h1>
      {% if hidden_menu %}
      <button class="login_btns login_btn3" id="display-login">Log In to Existing Account</button>
      {% endif %}
      <form class="signin {{'hidden' if hidden_menu}}" action="{{ url_for('index') }}" method="post" novalidate>
        <div>
          <label for="email">Email or Phone</label>
          <input class="input1" id="email" type="email" name="email">
        </div>
        <div>
          <label for="password">Password</label>
          <input class="input1" id="password" type="password" name="password">
        </div>
        <button class="login_btns login_btn1">Log In</button>
        <a id="forgot" href="#">Forgotten account?</a>
      </form>
    </div>
  </header>
  {% block content %}{% endblock %}
</body>

</html>