<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Facebook clone</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
  {% if particlejs %}
  <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
  {% endif %}
</head>

<body>
  <header class="header">
    <div class="header__inner">
      <h1 class="text-logo"><a class="text-logo__link" href="{{ url_for('index') }}">Alienbook</a></h1>
      {% block header %}{% endblock header %}
    </div>
  </header>

  {% block content %}{% endblock content %}

  <footer class="footer">
    <p class="footer-info">A facebook clone by ant443</p>
  </footer>
</body>

</html>