{% extends "user_base.html" %}

{% block content %}

<main class="main-user">
  <section class="email-code">
    <h1 class="email-code__h1">Enter the code from your email</h1>
    <div class="email-code__seperator"></div>
    <p class="email-code__info">Let us know this email address belongs to you. Enter the code from the email sent to
      <strong>{{ current_user.username }}</strong>.
    </p>
    <form action="">
      <span class="email-code__initials">AB-</span><input type="text" maxlength="5" class="email-code__code">
      <div class="email-code__seperator"></div>
      <div class="email-code__lower">
        <a href="#" class="email-code__link">Send Email Again</a>
        <div class="email-code__btn-wrapper">
          <a href=" #" class="signup-link signup-link--small link-btn--grey">Update Contact Info</a>
          <button disabled="true" class="login-button btn--disabled">Continue</button>
        </div>
      </div>
    </form>
  </section>
  <div class="horizontal-separator"></div>
</main>

<footer class="footer-user">
  <p class="footer-user__info">A facebook clone by ant443</p>
</footer>

{% endblock content %}