{% extends "base.html" %}

{% block header %}
<a href="{{ url_for('signup') }}" class="signup-link signup-link--small signup-link--relative">Sign Up</a>
{% endblock header %}

{% block content %}
<main class="main main--failed">
  <div class="login-menu">
    <h2 class="login-menu__heading">Log in to Facebook</h2>
    <form action="{{ url_for('index') }}" method="post" novalidate>
      <input class="login-large__input" type="email" placeholder="Email address or phone number"
        aria-label="Email address or phone number" name="email">
      <input class="login-large__input" type="password" placeholder="Password" aria-label="password" name="password">
      <button class="login-button">Log In</button>
    </form>
    <div class="login-menu__or">or</div>
    <div>
      <a class="signup-link" href="{{ url_for('signup') }}">Create New Account</a>
      <a class="login-menu__forgot" href="#">Forgotten account?</a>
    </div>
</main>
{% endblock content %}