{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block flash %}

<main class="main">
  <div class="main-inner main-inner--index">
    <div class="particlesImg">
      <p class="particlesImg__text">Alienbook helps aliens connect and share data on humans.
      </p>
      <div id="particles-js"></div>
    </div>
    {{ macros.signup("Create an account", year) }}
  </div>
</main>

{% endblock flash %}

<!-- extends statement links this template to base template, so jinja2 knows to embed it inside base when rendering. -->
<!-- block - both templates have block statements named content, telling jinja2 how to combine the templates. -->