{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
{% endblock head %}

{% block header %}
{{ macros.signin("", form) }}
{% endblock header %}

{% block content %}

<main class="main">
  <div class="main-inner main-inner--index">
    <div class="particlesImg">
      <p class="particlesImg__text">Alienbook helps aliens connect and share data on humans.
      </p>
      <div id="particles-js"></div>
    </div>
    <section class="signup">
      <h2 class="signup__heading">Create an account</h2>
      <p class="signup__message">It's free and always will be.</p>
      {{ macros.signup(signupform) }}
    </section>
  </div>
</main>

{% endblock content %}