{% extends "base.html" %}

{% block header %}
<a href="{{ url_for('signup') }}" class="btn-link btn-link--small btn-link--relative">Sign Up</a>
{% endblock header %}

{% block content %}
<main class="main main--failed">
  <div class="login-menu">
    <h1 class="login-menu__heading">Log in to Facebook</h1>
    <form action="{{ url_for('login') }}" method="post" id="login-form" novalidate>
      {{ login_form.hidden_tag() }}
      <div class="login-menu__input-wrapper">
        {{ login_form.email(class_="login-menu__input", type="email", placeholder="Email address", autofocus="", **{"aria-label": "Email address"}) }}
        <i class="exclamation__login-menu"></i>
        <p class="login-menu__msg login-menu__msg-toggle">Please enter valid email</p>
        <!-- {% for error in login_form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %} -->
      </div>
      <div class="login-menu__input-wrapper">
        {{ login_form.password(class_="login-menu__input", placeholder="Password", **{"aria-label": "password"}) }}
        <i class="exclamation__login-menu"></i>
        <p class="login-menu__msg">Please enter valid password</p>
        <!-- {% for error in login_form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %} -->
      </div>
      {{ login_form.submit(class_="login-button")}}
    </form>
    <div class="login-menu__or">or</div>
    <div>
      <a class="btn-link" href="{{ url_for('signup') }}">Create New Account</a>
      <a class="login-menu__forgot" href="#">Forgotten account?</a>
    </div>
</main>
{% endblock content %}