{% macro signin(optional_class, form) %}
<form class="signin {{ optional_class }}" action="{{ url_for('index') }}" method="post" novalidate>
  {{ form.hidden_tag() }}
  <div>
    {{ form.email.label(class_="signin__label optional_class") }}
    {{ form.email(size=32, class_="signin__input", type="email") }}
  </div>
  <div>
    {{ form.password.label(class_="signin__label") }}
    {{ form.password(size=32, class_="signin__input") }}
  </div>
  {# {{ form.remember_me() }} {{ form.remember_me.label }} #}
  {{ form.submit(class_="login-button login-button--small login-button--grid-end") }}
  <a class="signin__link" href="#">Forgotten account?</a>
</form>
{% endmacro %}

{% macro signup(message, year) %}
<div class="signup">
  <h2 class="signup__heading">{{ message }}</h2>
  <p class="signup__message">It's free and always will be.</p>
  <form class="signup__form" action="">
    <input type="text" class="signup__input signup__input--float signup__input--narrow" name="firstname"
      placeholder="First name" aria-label="First name" required>
    <input type="text" class="signup__input signup__input--narrow" name="surname" placeholder="Surname"
      aria-label="Surname" required>
    <input type="email" class="signup__input" name="email" placeholder="Email address" aria-label="Email address"
      required>
    <input type="password" class="signup__input" name="newpass" placeholder="New password" aria-label="New password"
      required>
    <fieldset class="birthdate">
      <legend class="birthdate__legend">Birthdate</legend>
      <select class="birthdate__select birthdate__select--narrow" name="birthdate-day" aria-label="day" title="Day">
        <option value="{{ 0 }}">Day</option>
        {% for i in range(31) %}
        <option value="{{ i+1 }}">{{ i+1 }}</option>
        {% endfor %}
      </select>
      <select class="birthdate__select" name="birthdate-month" aria-label="month" title="Month">
        {% set months = [ "Month", "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sept", "Oct", "Nov", "Dec" ] %}
        {% for i in range(13) %}
        <option value="{{ i }}">{{ months[i] }}</option>
        {% endfor %}
      </select>
      <select class="birthdate__select" name="birthdate-year" aria-label="year" title="Year">
        <option value="0">Year</option>
        {% for i in range(year, 1904, -1) %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
      <a class="birthdate__link" href="#">Why do I need to provide my date of birth?</a>
    </fieldset>
    <fieldset class="signup__gender">
      <legend class="signup__gender-legend">Gender</legend>
      <span class="signup__gender-span">
        <input type="radio" class="signup__gender-input" id="female" name="sex">
        <label class="signup__gender-label" for="female">Female</label>
      </span>
      <span class="signup__gender-span signup__gender-span--margin">
        <input type="radio" class="signup__gender-input" id="male" name="sex">
        <label class="signup__gender-label" for="male">Male</label>
      </span>
    </fieldset>
    <p class="signup__terms">By clicking Sign up, you agree to our <a href="#" class="signup__link">Terms</a>.
      Learn
      how we collect, use
      and share your data
      in our <a href="#" class="signup__link">Data Policy</a> and how we use cookies and similar technology in our
      <a href="#" class="signup__link">Cookie Policy</a>. You may receive SMS notifications from us and can opt
      out
      at
      any time.</p>
    <button class="signup__btn">Sign Up</button>
  </form>
</div>
{% endmacro %}