{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
<button class="login-button login-button--small login-button--float" id="display-login" type="button">Log In
  to Existing
  Account</button>
{{ macros.signin("hidden", login_form) }}
{% endblock header %}

{% block content %}
<main class="main">
  <div class="main-inner main-inner--signup">
    <section class="signup">
      <h1 class="signup__heading">Create a new account</h1>
      <p class="signup__message">It's free and always will be.</p>
      {{ macros.signup(signup_form) }}
    </section>
  </div>
</main>

{% endblock content %}